<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
          <form #brandForm="ngForm" novalidate>
            <div class="row g-3">
              <div class="col-auto">
                <label for="brandName" class="visually-hidden">Brand Name</label>
                <input type="text" class="form-control" id="brandName" name="brandName"
                  [(ngModel)]="brandObj.brand_name" #brandNameCtrl="ngModel"
                  placeholder="Brand Name" required minlength="3">
                <div *ngIf="brandNameCtrl.invalid && (brandNameCtrl.dirty || brandNameCtrl.touched)" class="text-danger">
                  <div *ngIf="brandNameCtrl.errors?.['required']">Brand Name is required.</div>
                  <div *ngIf="brandNameCtrl.errors?.['minlength']">Brand Name must be at least 3 characters long.</div>
                </div>
              </div>
              <div class="col-auto" *ngIf="showSaveBtn">
                <button type="button" class="btn btn-primary mb-3" [disabled]="brandForm.invalid" (click)="doSave()">Save</button>
              </div>
              <div class="col-auto" *ngIf="!showSaveBtn">
                <button type="button" class="btn btn-primary mb-3" [disabled]="brandForm.invalid" (click)="doUpdate()">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <div class="col-md-12">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Sl/No</th>
                  <th scope="col">Brand Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let brand of brands;let i=index;">
                  <th scope="row">{{i+1}}</th>
                  <td>{{brand.brand_name}}</td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm" (click)="doEdit(brand)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="doDelete(brand)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
